/* Estilos gerais */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilos para o formulário */
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos para a lista de produtos */
  .infoMain {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  #info {
    display: flex;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
  }

  #p1{
    margin: 0 12% 0 0;
  }
  #p2{
    margin: 0 13% 0 0;
  }
  #p3{
    margin: 0 0 0 5%;
  }
  
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #itemMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #item,
  #item2,
  #item3 {
    flex: 1;
    margin-right: 10px;
  }
  
  .excluirMain {
    display: flex;
    align-items: center;
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    input[type="text"],
    button {
      width: 100%;
    }
  
    #info {
      font-size: 14px;
    }
  
    #itemMain {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    #item,
    #item2,
    #item3 {
      margin-right: 0;
      margin-bottom: 5px;
      flex: none;
    }
  }
  