#itemx{
    margin: 1%;
}

#itemx1{
    font-size: 12px;
    margin-right: 1%;
    background-color: green;
}

#itemx2{
    font-size: 12px;
}

.containerBut{
    padding: 0 1%;
    display: flex;
}

.result {
    width: 102%;
}

.Descricao {
    width: 100%;
    display: flex;
}

.Descricao, h3 {
    margin-right: 5%;
}

#price1 {
    margin: 0 8% 0 1%;
}

#price2 {
    margin: 0 5% 0 8%;
}

#price3 {
    margin: 0 8% 0 10%;
}

@media (max-width: 600px) {

  .Descricao {
    width: 80%;
    display: flex;
}

.Descricao, h3 {
    margin-right: 5%;
    font-size: 13px;
    padding-bottom: 1%;
}

#itemx1{
    font-size: 8px;
    margin-right: 1%;
    background-color: green;
}

#itemx2{
    font-size: 8px;
    margin-right: 1%;
   
}


}