.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Estilos para o formulário */
  .input {
    margin-bottom: 10px;
  }
  
  .input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  