.App{
    background-color: #282c34;
}

.App-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#img1{
    height: 18px;
    width: auto;
    padding-right: 1%;
}

#name-footer {
    color: #ffff;
}