.App{
    background-color: #282c34;
}

.App-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#img1{
    height: 18px;
    width: auto;
    padding-right: 5px;
    
}

#name-footer {
    color: #ffff;
}
@media (max-width: 480px) {
    #img1{
        height: 18px;
        width: auto;
        padding-right: 5px;
        margin: 2% 0;
    }
}