.App{
    background-color: #282c34;
}

.App-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 18px;
    padding-right: 1%;
}

p {
    color: #ffff;
}